.back-to-top {
  position: fixed;

  right: 25px;
  bottom: 25px;

  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  border-radius: 50%;

  background: #3b82f6;

  color: white;

  font-size: 16px;

  cursor: pointer;

  z-index: 900;

  opacity: 0;

  visibility: hidden;

  transform: translateY(15px);

  transition: 0.3s;
}

.back-to-top.show {
  opacity: 1;

  visibility: visible;

  transform: translateY(0);
}

.back-to-top:hover {
  background: #2563eb;

  transform: translateY(-4px);
}

@media (max-width: 600px) {
  .back-to-top {
    width: 40px;
    height: 40px;

    right: 18px;
    bottom: 18px;
  }
}