main {
  width: 100%;
}

.section {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 100px 30px 50px;
}

.section h1 {
  font-size: 50px;
  color: #f8fafc;
}

.home-section {
  padding-top: 130px;
}